@page
@model             UsuariosDetalleModal
@{
    Layout = "";
}
<div class="mb-3">
    <label for="recipient-name" class="col-form-label">Nombre Usuario</label>
    <input type="text" class="form-control" id="recipient-name" value="@Model.UserResponse.NombreUsuario" disabled>
</div>

<div class="mb-3">
    <label for="recipient-name" class="col-form-label">Nombre</label>
    <input type="text" class="form-control" id="recipient-name" value="@Model.UserResponse.Nombre" disabled>
</div>

<div class="mb-3">
    <label for="recipient-name" class="col-form-label">Email</label>
    <input type="text" class="form-control" id="recipient-name" value="@Model.UserResponse.Email" disabled>
</div>

<div class="mb-3">
    <label for="recipient-name" class="col-form-label">Doble Factor</label>
    @if (Model.UserResponse.TieneDobleFactor)
    {
        <i class="fas fa-check-circle" style="color:green"></i>
    }
    else
    {
        <i class="fas fa-times-circle" style="color:red"></i>
    }
</div>
