@page
@model             LoginModel
@{
}


<div class="login">
    <div class="panel panel-default  login-content">

        <div class="panel-body">

            <div class="">
            </div>
            <div class="col-md-7">
                <h3 class="col-md-12 text-secondary margin-bottom margin-top">LOGIN</h3>

                <form class="margin-top" method="post" asp-page-handler="Login" asp-route-returnurl="@Model.ReturnUrl">

                    @*  <div asp-validation-summary="All" class="text-danger"></div>*@

                    <div class="col-md-12 form-group ">
                        <label class="control-label">Usuario</label>
                        <input type="text" asp-for="LoginRequest.UserName" class="form-control input-lg">
                        <span asp-validation-for="LoginRequest.UserName" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 form-group">
                        <label class="control-label">Contraseña</label>
                        <input type="password" asp-for="LoginRequest.Password" class="form-control input-lg">
                        <span asp-validation-for="LoginRequest.Password" class="text-danger"></span>

                    </div>

                    <div class="row col-md-12 form-group">

                        <div class="text-center col-md-2 col-md-offset-4">
                            <button id="btnentrarlogin" type="submit" value="Login" class="btn bg-secondary text-white">ENTRAR</button>
                        </div>
                    </div>


                </form>

            </div>

        </div>
    </div>
</div>
</div>