# Regla para que los nombres de las interfaces comiencen con "I"
dotnet_naming_rule.interface_should_start_with_i.severity = error
dotnet_naming_rule.interface_should_start_with_i.symbols = interface
dotnet_naming_rule.interface_should_start_with_i.style = prefix:I
dotnet_naming_rule.interface_should_start_with_i.required_prefix = I
dotnet_naming_rule.interface_should_start_with_i.enforcement = on_scope