{% extends '_RootLayout.html' %}

{% block body %}

<h1>Lista total de peliculas</h1>
<table>
    <tr>
        <th>Pelicula</th>
        <th>Director</th>
    </tr>
    {% for pelicula in ListaPeliculas %}
    <tr>
        <td>{{ pelicula.titulo }}</td>
        <td>{{ pelicula.directorid.nombre }} {{ pelicula.directorid.apellidos }}</td>
    </tr>
    {% endfor %}
</table>

<h1>Lista peliculas aleatorias de Fantasia</h1>
<table>
    <tr>
        <th>Pelicula</th>
        <th>Director</th>
    </tr>
    {% for pelicula in RandomFantasia %}
    <tr>
        <td>{{ pelicula.titulo }}</td>
        <td>{{ pelicula.directorid.nombre }} {{ pelicula.directorid.apellidos }}</td>
    </tr>
    {% endfor %}
</table>

<h1>Lista peliculas aleatorias de Aventura</h1>
<table>
    <tr>
        <th>Pelicula</th>
        <th>Director</th>
    </tr>
    {% for pelicula in RandomAventura %}
    <tr>
        <td>{{ pelicula.titulo }}</td>
        <td>{{ pelicula.directorid.nombre }} {{ pelicula.directorid.apellidos }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock body %}