@page
@model CleanArchitecture.Ejemplo.RazorPages.Pages.Account.CreateAccountModel
@{
}

<div class="Create Account">
    <div class="panel panel-default  login-content">

        <div class="panel-body">

            <div class="">
            </div>
            <div class="col-md-7">
                <h3 class="col-md-12 text-secondary margin-bottom margin-top">LOGIN</h3>

                <form class="margin-top" method="post" asp-page-handler="CreateAccount">

                    @*  <div asp-validation-summary="All" class="text-danger"></div>*@

                    <div class="col-md-12 form-group ">
                        <label class="control-label">UserName</label>
                        <input type="text" asp-for="CreateUserRequest.UserName" value="garciss" class="form-control input-lg">
                        <span asp-validation-for="CreateUserRequest.UserName" class="text-danger"></span>
                    </div>

                    
                    <div class="col-md-12 form-group ">
                        <label class="control-label">Nombre</label>
                        <input type="text" asp-for="CreateUserRequest.Nombre" value="garciss" class="form-control input-lg">
                        <span asp-validation-for="CreateUserRequest.Nombre" class="text-danger"></span>
                    </div>

                    <div class="col-md-12 form-group ">
                        <label class="control-label">Email</label>
                        <input type="text" asp-for="CreateUserRequest.Email" value="asier@asier.com" class="form-control input-lg">
                        <span asp-validation-for="CreateUserRequest.Email"  class="text-danger"></span>
                    </div>

                    <div class="col-md-12 form-group ">
                        <label class="control-label">Password</label>
                        <input type="password" asp-for="CreateUserRequest.Password" value="Contrasña2!" class="form-control input-lg">
                        <span asp-validation-for="CreateUserRequest.Password"  class="text-danger"></span>
                    </div>

                    <div class="col-md-12 form-group ">
                        <label class="control-label">Telefono</label>
                        <input type="text" asp-for="CreateUserRequest.Telefono" value="0987654321" class="form-control input-lg">
                        <span asp-validation-for="CreateUserRequest.Telefono" class="text-danger"></span>
                    </div>

                    <div class="row col-md-12 form-group">

                        <div class="text-center col-md-2 col-md-offset-4">
                            <button id="btnentrarlogin" type="submit" value="Login" class="btn bg-secondary text-white">ENTRAR</button>
                        </div>
                    </div>


                </form>

            </div>

        </div>
    </div>
</div>