@page "/counter"
@rendermode @(new InteractiveServerRenderMode(false))

@inject ILogger<Counter> _logger;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [CascadingParameter(Name = "IsSSR")] private bool IsSSR { get; set; }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override void OnInitialized()
    {
        if (!RendererInfo.IsInteractive)
        {
            currentCount = 10;
            return;
        }

        _logger.LogInformation("Counter SSR? = {0}", IsSSR);
        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        _logger.LogInformation("Counter SSR after Render? = {0}", IsSSR);
        base.OnAfterRender(firstRender);
    }

}