<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Segurplan
    </title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport" />
    <link href="~/assets/css/digitseguros.css" rel="stylesheet" type="text/css" />
</head>

<body class="off-canvas-sidebar @ViewBag.BodyClass">
    <!-- Navbar -->
    @RenderBody()


    <script src="~/assets/js/core/jquery.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Plugin for the momentJs  -->
    <script src="~/assets/js/plugins/moment.min.js"></script>
    <script src="~/assets/js/plugins/locale.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="~/assets/js/plugins/sweetalert2.js"></script>
    <!-- Forms Validations Plugin -->
    <script src="~/assets/js/plugins/jquery.validate.min.js"></script>
    <!--Mensajes validacion -->
    <script src="~/assets/js/plugins/mensajesValidacion.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="~/assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="~/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--  Tags,  resultados de búsqueda https://bootstrap-tagsinput.github.io/bootstrap-tagsinput/examples/  -->
    <script src="~/assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="~/assets/js/plugins/fullcalendar.min.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts -->
    <script src="~/assets/js/material-dashboard.js?v=2.1.0" type="text/javascript"></script>
    <!--   Bootstrap sortable plugin que permite realizar funciones para reordenar y organizar elementos usando drag and drop   -->
    <script src="~/assets/js/plugins/bootstrap-sortable.js"></script>
    <!--plugin include html5-->
    <script src="~/assets/js/plugins/w3data.js"></script>
    <!--  Editor textarea con opciones de editor -->
    <script src="~/assets/js/plugins/summernote-bs4.js"></script>
    <!-- Funciones de filtrado usuarios -->
    <script type="text/javascript" src="~/assets/js/plugins/lodash.js"></script>
    <!-- Scrollbar -->
    <script src="~/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <!-- Funciones Elecnor demo html-->
    <script src="~/assets/js/funciones.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>

