// colors
$primary-color: #004F86;
$primary-dark:#003e8b;
$secondary-color: #7FA9CA;
$orange:#EE750B;
$lorange:#ffece4;
$green:#00A8B4;
$light-green:#cfd5da;
$pink:#fe736c;
$white: #fff;
$black: #000;
$dark-gray:#333;
$mid-gray:#666;
$light-gray:#8f8f8f;
$slight-gray:#E7E7E7;
$blue:#5dcae5;
$borradores:#f3c114;
$pendientes:$pink;
$transito:$primary-color;
$light-blue:#f8fcff;
$blue:#33729e;
$mid-blue:#bfd4e5;
$mid-purple: #5f6179;
$light-purple:#f4f3f9;
$interna:#ddefe7;
$externa: #f7dedf;
$success: #4caf50;
$warning: #ff9800;
$danger: #f44336;
$regular:0.5px;
$condensed:-0.5px;
//sidebar
$sidebarWidth: 254px;
$sidebarMiniWidth: 56px;
// navbar header
$navbarHeight: 54px;
// footer
$footerHeight: 90px;