@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table>
    <tr>
        <td>Nombre</td>
        <td>Apellidos</td>
    </tr>
    @foreach (var item in Model.Usuarios)
    {
        <tr>
            <td>@item.Nombre</td>
            <td>@item.Apellidos</td>
        </tr>
    }

</table>