{% load static %}

<DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>Prueba de concepto</title>
    <environment>
        <!-- Favicons -->
        {% comment %} <link href="{% static 'img/favicon.ico' %}" rel="icon"> {% endcomment %}

        <!-- CSS -->
        <link href="{% static 'main.css' %}" rel="stylesheet">

        <!-- Javascript -->
        {% comment %} <script src="{% static 'js/main.js' %}" defer></script> {% endcomment %}
    </environment>
</head>

<body>
    {% include 'NavBar.html' %}
    <div>
        {% block body %}
        {% endblock body %}
    </div>
</body>

{% include 'FooterInfo.html' %}

{% block Scripts %}
{% endblock Scripts %}
</html>