@page "/InsertUser"
@inject HttpClient Http
@using Newtonsoft.Json
@using BlazorWebAssembly.SharedWithApi.Request

<EditForm Model="@_userRequest" OnValidSubmit="InsertarUsuario">
    <label>Inserta un nombre de usuario y un apellido</label>
    <input type="text" name="Nombre" @bind-value="_userRequest.Nombre" />
    <input type="text" name="Apellidos" @bind-value="_userRequest.Apellido" />
    <input type="submit" name="Insertar" value="Enviar" />
</EditForm>

@code {
    UserRequest _userRequest = new();

    private async void InsertarUsuario()
    {
        var response = await Http.PostAsJsonAsync<UserRequest>("User/insertar-user", _userRequest);
    }
}
